@keyframes changeColor{
    0%{background-color: blue;
    border-radius: 0px;
    width: 200px;}

    50%{background-color: greenyellow;
    border-radius: 55px;
    width: 400px;}

    100%{background-color: red;
        border-radius: 110px;
        width: 200px}
}

.box{
    margin: auto;
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 6s;
    animation-delay: 2s;
    /*animation-fill-mode: forwards;*/
    /*animation-fill-mode: backwards;*/
    animation-fill-mode: both
}

